<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      History
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarCorreo()" color="primary">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let registro of dataLocal.guardados"
              (click)="abrirRegistro( registro )"
                detail> <!-- detail permite ver q se puede hacer click -->
      <ion-icon slot="start" [name]="registro.icon" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ registro.text }}</h2>
        <p>{{ registro.created | date: 'medium'}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
  


</ion-content>
